.main-panel {
  flex: 1;
}

@media (min-width: 768px) {
  .main-panel {
    background: rgba(0, 0, 0, 0.08);
    padding: 13px;
    border-radius: 12px;
    border: 13px solid rgba(0, 0, 0, 0.4);
  }
}

.upper-panels {
  display: flex;
  gap: 0.4rem;
}

.backdrop {
  position: fixed;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}
