.panel {
  margin-left: 0.5rem;
  width: 80%;
  height: 71.8vh;
}

.row {
  display: flex;
}

.col {
  margin-left: 1px;
}

.cell {
  border-radius: 5px;
}

.cell.disabled {
  background-color: gray;
  cursor: default;
}

.cell.selected {
  background-color: lightgreen;
  cursor: pointer;
}

.cell.unselected {
  background-color: white;
  cursor: pointer;
}

.cell.playing {
  background-color: green;
  cursor: pointer;
}

.cell.current {
  background-color: yellow;
  cursor: default;
}
